.socialMedia {
  margin-left: 6.25rem;
}

.socialMedia a+a {
  margin-left: 1.875rem;
}

.copyrightText {
  color: var(--white);
  font-weight: 400;
  line-height: 150%;
  font-size: 1rem;
}

.contactButton {
  margin-right: 6.25rem;
  padding: 0.625rem 1.875rem;
  background: var(--white);
  border-radius: 3.125rem;
  transition: ease-in-out 0.2s;
}

.contactButton:hover  {
  transform: scale(1.05);
}

.contactButton span {
  color: var(--black);
}

.footerContainer {
  height: 9.75rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5.300rem;
}
