.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.introTextContainer {
  max-width: 39.875rem;
  height: 21.875rem;
}

.introTextContainer p {
  margin-top: 1.875rem;
}

.socialMediaButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.875rem;
}

.socialMediaButtons a {
  background: var(--black);
  padding: 1.25rem;
  font-size: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-radius: 50%;
  transition: ease-in-out 0.2s;
}

.socialMediaButtons a+a {
  margin-left: 1.875rem;
}

.socialMediaButtons a:hover {
  transform: scale(1.05);
}

#whatsappButton {
  border-radius: 3.125rem;
}

#whatsappButton span {
  margin-left: 1.25rem;
}

.illustration img{
  width: 37.5rem;
  transition: ease-in-out 0.2s;
}

.illustration img:hover {
  transform: scale(1.03);
}
