.productsContainer h1 {
  color: var(--white);
}

.productsContainer p {
  color: var(--light-gray);
}

#description {
  max-width: 38.313rem;
}

.sectionBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45rem;
  width: 100vw;
  background: var(--black-gradient);
  margin-top: -5rem;
}

.productsContainer {
  width: 85.375rem;
}

.productsContainer h1 {
  color: var(--white);
}

.productsContainer p {
  color: var(--light-gray);
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1300px) {
  .productsContainer {
    width: 56.25rem;
    margin-top: 15rem;
  }
}

@media (max-width: 850px) {
  .productsContainer {
    width: 42.5rem;
    height: 110rem;
  }
}
